* {
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
}
nav{
    max-height: 200px;
    height: 70px;
    background: linear-gradient(35deg,#31bfd8,#082457);
    padding: 20px;
    display: flex;
    align-items: center;
}

.nav-header{
    font-size: 35px;
    color: white;
    font-weight: 900;
}

.nav-links-wrapper{
    margin-left: auto;
}

.nav-link{
    text-decoration: none;
    padding: 18px;
    font-size: 20px;
    color: aliceblue;
    border-radius: 60px;
    transition: 0.5s;
    margin:15px;
}

.nav-link:hover{
    animation: under 1s 1;
    background-color: white;
    color: slateblue;
    box-shadow: 0.2rem 0.2rem 0.2rem 0.2rem #082457;
}

@keyframes under {
    from{
        border: 0 solid white;
    }
    to{
        border: 1px solid white;
    }
}